<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<script type="text/javascript" src="js/vue.js">
			
		</script>
	</head>
	<body>
		<div id="box">
			<input v-model="aa" type="text" placeholder="enter the type"/>
			{{aa}}
			<hr />
			<input v-bind:type="aa"/>
			<hr />
			<input v-model="path" type="text" placeholder="enter the number of picture"/>
			{{path}}
			<br />
			<img src="img/PIC/1.jpg" style="width: 200px;height: 200px;"  />
		</div>
		<script type="text/javascript">
			var vm = new Vue({
				el:"#box",
				data:{
					aa:'123',
					path:''
				}
			})
		</script>
	</body>
</html>
